.page{
    width: 1000px;
    height: 700px;
    background-color: #171717;
    
    display: grid;
    grid-template-rows: 30px 670px;

    grid-template-areas: 
    "bar"
    "content";

    border-radius: 26px;
}
.bar{
    grid-area: bar;
    background-color: #282828;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
}
.pm_text{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
}
.content{
    grid-area: content;

    display: grid;
    grid-template-columns: 225px 775px;

    grid-template-areas:
    "navbar passwords";
}
.navbar{
    grid-area: navbar;
    background-color: #1C1C1C;
    border-bottom-left-radius: 26px;
}
.passwords{
    grid-area: passwords;

    display: grid;
    grid-template-rows: 40px 630px;

    grid-template-areas: 
    "search"
    "passes";
}
.search{
    grid-area: search;

    background-color: #1C1C1C;
}
.s_bar{
    width: 257px;
    height: 25px;
    background-color: #AEAEAE;
    margin-top: 8px;
    margin-bottom: 7px;
    margin-left: 18px;
    border-radius: 15px;
}
.s_text{
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    color: #575757;
    padding-left: 8px;
}
.passes{
    grid-area: passes;

    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: auto;
    gap: 46px;
}
.card{
    width: 323px;
    height: 140px;
    background-color: #404040;
    border-radius: 18px;
    margin-left: 28px;
    margin-top: 8px;
    margin-right: 28px;

    display: grid;

    grid-template-columns: 107px 107px 107px;
    grid-template-rows: 20px 25px 25px 25px;
    grid-template-areas: 
    "nothing1 site nothing2"
    "usern nothing3 usernPass"
    "email nothing4 emailPass"
    "password nothing5 passPass";
}
.site{
    width: 107px;
    height: 20px;
    background-color: #292929;
    border-radius: 0px 0px 10px 10px;

    grid-area: site;

    text-align: center;
}
.siteN{
    font-family: Poppins;
    color: #FFFFFF;
    margin: -2px;
}