.page{
    width: 1000px;
    height: 700px;
    background-color: #171717;
    
    display: grid;
    grid-template-rows: 30px 670px;

    grid-template-areas: 
    "bar"
    "content";

    border-radius: 26px;
}
.bar{
    grid-area: bar;
    background-color: #282828;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
}
.pm_text{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
}
.content{
    grid-area: content;

    display: grid;
    grid-template-columns: 225px 775px;

    grid-template-areas:
    "navbar passwords";
}
.navbar{
    grid-area: navbar;
    background-color: #1C1C1C;
    border-bottom-left-radius: 26px;
}
.passwords{
    grid-area: passwords;

    display: grid;
    grid-template-rows: 40px 630px;

    grid-template-areas: 
    "search"
    "passes";
}
.search{
    grid-area: search;

    background-color: #1C1C1C;
}
.s_bar{
    width: 257px;
    height: 25px;
    background-color: #AEAEAE;
    margin-top: 8px;
    margin-bottom: 7px;
    margin-left: 18px;
    border-radius: 15px;
}
.s_text{
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    color: #575757;
    padding-left: 8px;
}