body{
    font-family: Poppins;
    color: #FFFFFF;
}
p{
    margin: 0px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

.page{
    width: 1000px;
    height: 700px;
    background-color: #171717;
    
    display: grid;
    grid-template-rows: 30px 670px;

    grid-template-areas: 
    "bar"
    "content";

    border-radius: 26px;
}
.bar{
    grid-area: bar;
    background-color: #282828;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
}
.pm_text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
}
.content{
    grid-area: content;

    display: grid;
    grid-template-columns: 225px 775px;

    grid-template-areas:
    "navbar passwords";
}
.navbar{
    grid-area: navbar;
    background-color: #1C1C1C;
    border-bottom-left-radius: 26px;

    display: grid;
    grid-template-rows: 60px 300px 300px;
    grid-template-areas: 
    "logo"
    "overview"
    "account";
}
.logo img{
    grid-area: logo;
    margin-top: 15px;
    margin-left: 50px;
    justify-self: center;
    align-self: center;
}
.logo p{
    grid-area: logo;
    font-size: 20px;
    display: inline-block;
}
.navbar hr{
    width: 180px;
}
.overview{
    grid-area: overview;
    padding-left: 5px;
}
.overview p{
    color: #C9C9C9;
    font-size: 15px;
    margin-bottom: 15px;
}
.overview img, .overview a{
    margin-left: 25px;
}
.account{
    grid-area: account;
}
.passwords{
    grid-area: passwords;

    display: grid;
    grid-template-rows: 40px 630px;

    grid-template-areas: 
    "search"
    "passes";
}
.search{
    grid-area: search;

    background-color: #1C1C1C;
}
.s_bar{
    width: 257px;
    height: 25px;
    background-color: #AEAEAE;
    margin-top: 8px;
    margin-bottom: 7px;
    margin-left: 18px;
    border-radius: 15px;
}
.s_text{
    font-size: 16px;
    line-height: 24px;
    color: #575757;
    padding-left: 8px;
}
.passes{
    grid-area: passes;

    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: auto;
    gap: 46px;
}
.card{
    width: 323px;
    height: 140px;
    background-color: #404040;
    border-radius: 18px;
    margin-left: 28px;
    margin-top: 8px;
    margin-right: 28px;

    display: grid;

    grid-template-columns: 107px 107px 107px;
    grid-template-rows: 20px 25px 25px 25px;
    grid-template-areas: 
    "nothing1 site nothing2"
    "usern usern usern"
    "email email email"
    "pass pass pass";

    gap: 10px 0px;
}
.site{
    width: 107px;
    height: 20px;
    background-color: #292929;
    border-radius: 0px 0px 10px 10px;

    grid-area: site;

    text-align: center;
}
.siteN{
    margin: -2px;
}
.username{
    grid-area: usern;
    display: grid;
    grid-template-columns: repeat(3, 107px);

    grid-template-areas: 
    "usern usernPass usernPass";
}
.usernText{
    grid-area: usern;
    margin-left: 4px;
}
.usernPass{
    grid-area: usernPass;
    margin-right: 4px;
    text-align: right;
}
.email{
    grid-area: email;
    display: grid;
    grid-template-columns: repeat(3, 107px);

    grid-template-areas: 
    "emailText emailPass emailPass";
}
.emailText{
    grid-area: emailText;
    margin-left: 4px;
}
.emailPass{
    grid-area: emailPass;
    margin-right: 4px;
    text-align: right;
}
.password{
    grid-area: pass;
    display: grid;
    grid-template-columns: repeat(3, 107px);

    grid-template-areas: 
    "passText pass pass";
}
.passText{
    grid-area: passText;
    margin-left: 4px;
}
.pass{
    grid-area: pass;
    margin-right: 4px;
    text-align: right;
}

.add{
    width: 323px;
    height: 140px;
    text-align: center;
}
.addButton{
    font-size: 120px;
    margin: -18px;
}